body {
  margin: 0;
  font-family: 'Itim', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family: 'Itim', cursive;
}

.App {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.267);
  max-height: 100vh;
}

.menu-container {
  height: auto;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  /* margin: 20px; */
  padding-bottom: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.heading {
  font-size: x-large;
}

.algorithm-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  padding: 5px;
  /* width: 70px; */
  height: 50px;
  font-size: medium;
  border: 1px solid black;
  cursor: pointer;
  font-weight: 800;
  border-radius: 2px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button:hover {
  background-color: black;
  color: white;
}

.create-process-container {
  margin: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 0.2px solid gray;
  display: flex;
  align-items: center;
  gap: 20px;
}

.input-block {
  width: auto;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
}

.process {
  width: auto;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(146, 196, 146);
  display: flex;
  gap: 30px;
}

.process div {
  background-color: rgba(0, 128, 0, 0.522);
  font-weight: 500;
  padding: 10px;
  width: 100px;
  border-radius: 2px;
}

.process-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.create-process-start {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* Simulation View */

.simulation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.section-left {
  padding: 20px;
  font-size: 20px;
  height: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.section-left p {
  border: 1px solid rgb(72, 188, 188);
  background-color: aliceblue;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.section-right {
  border: 1px solid black;
  padding: 20px;
  height: auto;
  width: 800px;
}

.scheduling-table {
  border-collapse: collapse;
  font-size: 20px;
}

.scheduling-table th,
td {
  padding: 20px;
  border: 1px solid rgb(72, 188, 188);
  background-color: aliceblue;
}

.bar-bg {
  height: 20px;
  width: 100px;
  background-color: rgb(170, 170, 170);
}

.bar {
  height: 20px;
  width: 0%;
}

.barAnimated {
  height: 20px;
  animation: progressBar 3s ease-in-out;
  animation-fill-mode: both;
  background-color: red;
}

.rmsAnimated {
  /* height: 20px; */
  animation: progressBar 3s ease-in-out;
  animation-fill-mode: both;
  /* background-color: red; */
}

@keyframes progressBar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.section-footer {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 80%;
}

.footer-left {
  border: 1px solid black;
  width: 60%;
  text-align: left;
  display: flex;
  align-content: center;
  gap: 10px;
}

.ready-queue {
  border-right: 1px solid rgb(72, 188, 188);
  background-color: aliceblue;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.footer-right {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}

/* RMS */

.bar-container {
  /* width: 600px; */
  overflow-x: scroll;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
}

.outputBar {
  margin-top: 10px;
  display: flex;
}

.outputBar-name {
  border: 1px solid black;
  height: 40px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberBar {
  margin-top: 10px;
  display: flex;
}

.numberBar-numbers {
  background-color: antiquewhite;
  border: 1px solid black;
  height: 40px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ready-queue-tasks {
  font-size: 20px;
}

.label-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
  /* justify-content: start; */
  /* align-items: start; */
}

.label-container div {
  /* padding: 20px; */
}

.label-color-block {
  margin-left: 10px;
  width: 40px;
}